
body.sector-admin-theme {
  font-family: var(--sector-admin-font);;
  background: var(--sector-admin-white);
}

.toolbar .toolbar-bar {
  --toolbar-stripe-a: var(--admin-toolbar-a, var(--sector-admin-dark));
  --toolbar-stripe-b: var(--admin-toolbar-b, var(--sector-admin-black));
  
  background-color: var(--toolbar-stripe-a);
  /*background: repeating-linear-gradient( 45deg, var(--dark), var(--dark) 0.625rem, var(--black) 0.625rem, var(--black) 1.25rem );*/
  background: repeating-linear-gradient( 45deg, var( --toolbar-stripe-a), var( --toolbar-stripe-a) 0.625rem, var(--toolbar-stripe-b) 0.625rem, var(--toolbar-stripe-b) 1.25rem );
  font-family: var(--sector-admin-font);;

  /* has environment colour implemented */
  &[style] {
    --toolbar-stripe-a: transparent;
    --toolbar-stripe-b: rgba(0,0,0,.125);
  }
}



.toolbar-tray a.toolbar-icon-admin-toolbar-tools-help {
  display: inline-block;
  padding: 0;
  height:40px;
  width: 40px;
  text-indent: -5000em;
  background-color: var(--sector-admin-blue);
  
  &:hover, &:focus {
    background-color: var(--sector-admin-green);
    
    &::before {
      transform: rotate(10deg);
    }
  }
}

.toolbar .toolbar-icon-admin-toolbar-tools-help::before {
  background-image: svg-load('../../icons/sector.svg', fill=#ffffff);
  background-size: auto 60%;
  width: 100%;
  left: 0;
  padding: 0;
  transition: transform .1s ease;
  margin: 0;
}

.layout-node-form {
  font-family: var(--sector-admin-font);
}

.layout-container {
  font-family: var(--sector-admin-font);
  
  .page-title {
    font-size: calc(1vmax + .85em);
    
    em {
      font-size: 70%;
      
      &::after {
        font-style: normal;
        content: ' \25b8';
      }
    }
  }
}

.layout-node-form {
  .layout-region-node-secondary {
    position: sticky;
    top: calc(80px + 1rem);
  }
}